# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual env
.venv/
venv/
ENV/

# IDE
.idea/
.vscode/

# Jupyter
.ipynb_checkpoints/

# Datos locales
data/

# Entornos/secretos
.env
*.pem
*.key

